@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Ubuntu+Mono:ital@0;1&display=swap');

*:not(i){
    font-family: 'Ubuntu Mono', monospace;
  }

.nav-icon {
    font-weight: 700;
    font-size: 1.2rem;
}

.nav-logo {
    font-family: 'Orelega One', cursive;
    font-style: italic;
}

.flashes h4 {
    line-height: 2;
    text-transform: uppercase;
    font-weight: 600;
}

.collapse-head {
    font-weight: 700;
    margin: 5px;
    line-height: 42px;
    text-transform: uppercase;
}

.btn-small {
    margin: 5px;
}

.book_image {
    max-width: 250px;
    max-height: 250px;
    margin-top: 20px;
}

.review_head {
    font-family: 'Orelega One', cursive;
    font-size: 120%;
    line-height: 5px;
    margin-top: 50px;
}

nav .brand-logo {
    font-size: 1.5rem;
}

.genre_main {
    font-family: 'Orelega One', cursive;
}

.profile-li {
    cursor: default;
}