@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Ubuntu+Mono:ital@0;1&display=swap');

*:not(i){
    font-family: 'Ubuntu Mono', monospace;
  }

.nav-icon {
    font-weight: 700;
    font-size: 1.2rem;
}

.nav-logo {
    font-family: 'Orelega One', cursive;
    font-style: italic;
}

.flashes h4 {
    line-height: 2;
    text-transform: uppercase;
    font-weight: 600;
}

.collapse-head {
    font-weight: 700;
}