{% extends "base.html" %}
{% block content %}

    {% for book in books %}
        {{ book.book_name }}<br>
        {{ book.genre_name }}<br>
        {{ book.author_name }}<br>
        {{ book.published_date }}<br>
        {{ book.book_description }}<br>
        {{ book.book_link }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header amber darken-3"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header amber darken-3"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header amber darken-3"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{% endblock %}