{% extends "base.html" %}
{% block content %}

    <h3 class="center-align nav-logo">Our Favourite Books</h3>

    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header amber darken-3">
                <i class="fas fa-caret-down"></i>
                <span class="collapse-head">{{ book.book_name }}</span> : {{ book.genre_name }}
            </div>
            <div class="collapsible-body">
                <span class="collapse-head">{{ book.author_name }}</span> : {{ book.published_date }}
                <p>{{ book.book_description }}</p>
                <p><a href="{{ book.book_link }}">PURCHASE</a></p>
                <p><em>shared by: {{ book.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}